.body {
  display: flex;
  width: 100%;
  min-height: 654px;
  margin: auto;
  background: url("../images/backLogin.jpeg") no-repeat;
  background-size: cover;
  background-position: 20% -50%;
  height: auto;
  background-attachment: fixed;
}

.form {
  width: 60%;
  margin: auto;
  color: #000505;
  font-size: 25px;
}
.formControl {
  opacity: 0.75;
}

.btn {
  text-align: center;
}
.textMuted {
  color: rgb(0, 0, 0);
}

.btn Button {
  margin: 20px;
  font-weight: bold;
}

.textRegistr {
  color: rgb(102, 93, 85);
}
