.card {
  width: "40%";
  margin: "auto";
}

.container {
  background: url("../images/backUserProfile.jpg") 10% 10%;
  background-size: cover;
  background-attachment: fixed;
  min-height: 650px;
  height: auto;
}

.spinner {
  width: 100%;
  text-align: center;
  margin-top: 20%;
}
