.contain {
  opacity: 0.9;
  height: auto;
  text-align: center;
  min-height: 654px;
  background: url("../images/backAccount.jpg") no-repeat;
  background-position: 20% 20%;
  background-size: cover;
  background-attachment: fixed;
}
.accountSection {
  display: inline-flex;
}

.accountSection img {
  border-radius: 50%;
}
