h2 {
  font-variant: small-caps;
  font-size: 30px;
  line-height: 50px;
}
.contain {
  display: flex;
  font-variant: small-caps;
  width: 100%;
  height: 654px;
  background: url("../images/flat-layout-modern-laptop-cup-coffee-pencil-notepad-flash-card-flowerpot-with-green-plant-isolated-white-wall-with-copy-space-modern-gadget-workplace-businessman.jpg")
    98% 98%;
  background-size: cover;
}
.firstBlock {
  width: 40%;
  margin: 10% 10% 10% 10%;
  font-size: 20px;
  transition: all 0.3s ease;
  color: #348080;
}

.secondBlock {
  width: 30%;
  margin: auto;
  transition: all 0.3s ease;
}

.logo {
  width: 60%;
  margin: auto;
}

.bold {
  opacity: 0.8;
  font-family: helvetica;
  text-transform: uppercase;
  text-align: center;
  color: #912f2f;
  text-shadow: #dabfbf 3px 5px 0, rgb(163, 88, 88) 4px 6px 3px,
    rgb(196, 102, 102) 8px 11px 10px;
}
.firstBlock:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.secondBlock:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

@media only screen and (max-width: 650px) {
  .firstBlock {
    font-size: 16px;
  }
}
