.body {
  display: flex;
  width: 100%;
  height: 652px;
  margin: auto;
  background: url("../images/flay-lay-notebook-with-password-info-magnifying-glass.jpg")
    10% 10%;
  background-size: cover;
}

.form {
  width: 60%;
  margin: auto;
  color: #000505;
  font-size: 25px;
  font-variant: small-caps;
}
.formControl {
  opacity: 0.75;
  font-variant: small-caps;
}

.btn {
  text-align: center;
}
.textMuted {
  color: rgb(0, 0, 0);
}

.btn Button {
  margin: 20px;
  font-weight: bold;
  font-variant: small-caps;
}

.textRegistr {
  color: rgb(102, 93, 85);
}
