.body {
  display: flex;
  width: 100%;
  height: 652px;
  margin: auto;
  background: url("../images/cozy-desktop-with-coffee-laptop.jpg") 89% 89%;
  background-size: cover;
}

.form {
  width: 60%;
  margin: auto;
  color: #000505;
  font-size: 25px;
  font-variant: small-caps;
}
.formControl {
  opacity: 0.75;
  font-variant: small-caps;
}

.btn {
  text-align: center;
}
.textMuted {
  color: rgb(0, 0, 0);
}

.btn Button {
  margin: 20px;
  font-weight: bold;
  font-variant: small-caps;
}

.textRegistr {
  color: rgb(102, 93, 85);
}
