.container {
  background: url("../images/backRegister.jfif") 20% 20%;
  background-size: cover;
}

.body {
  display: flex;
  width: 100%;
  min-height: 654px;
  height: auto;
  margin: auto;
  opacity: 0.8;
}
.form {
  width: 50%;
  margin: auto;
  color: rgb(2, 0, 0);
}
.textMuted {
  color: #9c1616;
}

.btn {
  opacity: 1;
  font-weight: bold;
}
