.container {
  background: url("../hand-holding-phone-with-apps-desk-background.jpg");
  background-size: cover;
  font-variant: small-caps;
}

.body {
  display: flex;
  width: 100%;
  height: 650px;
  margin: auto;
}
.form {
  width: 50%;
  margin: auto;
  color: rgb(2, 0, 0);
}

.btn {
  opacity: 1;
  font-weight: bold;
}
