.container {
  font-variant: small-caps;
  background: url("../images/jess-bailey-ZY2GNpgiWyU-unsplash.jpg") 37% 37%;
  background-size: cover;
}

.body {
  display: flex;
  width: 100%;
  min-height: 654px;
  height: auto;
  margin: auto;
}
.form {
  width: 50%;
  margin: auto;
  color: rgb(2, 0, 0);
}

.btn {
  opacity: 1;
  font-weight: bold;
}
